body{
  background-color: #e0c3fc;
  background-image: url("../../img/fondocartas.jpg");
}

.titulo{
  margin-top: 50px;
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 60px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
  text-shadow: 2px 2px 4px black;
}
.cajaTitulo{
  background-color: #e0c3fc;
  border-radius: 54px 54px 54px 54px;
  -moz-border-radius: 54px 54px 54px 54px;
  -webkit-border-radius: 54px 54px 54px 54px;
  border: 3px solid #0f0e0f;
  margin: 1em;
}

a{
  font-size: 60px; 
  margin: 2em;
}
a:link {
  background-color: rgb(92, 163, 119);
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 
